.todosLosColores {
    /*Verde Pasto*/
    color: rgb(59, 171, 49);
    /*Verde Pasto 2*/
    color: rgba(64, 171, 53);
    /*Azul Oscuro*/
    color: rgb(20, 43, 76);
    /*Gris*/
    color: rgb(115, 107, 107);
    /*Verde Aqua*/
    color: rgb(4, 155, 131);
}