.backg {
    height: 100%;
    position: relative;
}

.log-child {
    padding: 2%;
    background-color: white;
    border-radius: 2rem;
    height: 450px;
    width: 400px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -85%);
    position: absolute;
    z-index: 25;
}

.log-child.box-sh {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

.img-lobo {
    max-width: 200px;
    max-height: 100px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 25;
}